*.so
*.swp
*.vim
*.sin
*.sout
*.spks
*.oscs
nnsimulatorcpu
nnsimulatorcuda

\.settings/

Debug/

tests/test_base_conns_cpu

tests/test_base_neurs_cpu

\.cproject

\.project

doc/ru/

compile/

tests/test_UNN270117solver_cpu
